.barra {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 30px;
  position: relative;
}
@-webkit-keyframes some-animation {
  from {
    left: 0px;
  }
  40% {
    left: 1024px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transform: rotate(720deg) scale(0.75);
    -moz-transform: rotate(720deg) scale(0.75);
    -webkit-transform: rotate(720deg) scale(0.75);
    -o-transform: rotate(720deg) scale(0.75);
    box-shadow: 6px 10px 8px #000000;
  }
  55% {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
@-moz-keyframes some-animation {
  from {
    left: 0px;
  }
  40% {
    left: 1024px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transform: rotate(720deg) scale(0.75);
    -moz-transform: rotate(720deg) scale(0.75);
    -webkit-transform: rotate(720deg) scale(0.75);
    -o-transform: rotate(720deg) scale(0.75);
    box-shadow: 6px 10px 8px #000000;
  }
  55% {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
@-ms-keyframes some-animation {
  from {
    left: 0px;
  }
  40% {
    left: 1024px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transform: rotate(720deg) scale(0.75);
    -moz-transform: rotate(720deg) scale(0.75);
    -webkit-transform: rotate(720deg) scale(0.75);
    -o-transform: rotate(720deg) scale(0.75);
    box-shadow: 6px 10px 8px #000000;
  }
  55% {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
@-o-keyframes some-animation {
  from {
    left: 0px;
  }
  40% {
    left: 1024px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transform: rotate(720deg) scale(0.75);
    -moz-transform: rotate(720deg) scale(0.75);
    -webkit-transform: rotate(720deg) scale(0.75);
    -o-transform: rotate(720deg) scale(0.75);
    box-shadow: 6px 10px 8px #000000;
  }
  55% {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
@keyframes some-animation {
  from {
    left: 0px;
  }
  40% {
    left: 1024px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transform: rotate(720deg) scale(0.75);
    -moz-transform: rotate(720deg) scale(0.75);
    -webkit-transform: rotate(720deg) scale(0.75);
    -o-transform: rotate(720deg) scale(0.75);
    box-shadow: 6px 10px 8px #000000;
  }
  55% {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
body {
  background: #996655;
}
body #barra1 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 30px;
  position: relative;
  animation: some-animation 20s infinite;
  background: #68453a;
}
body #barra1:hover {
  background: #472f27;
}
body #barra2 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 30px;
  position: relative;
  background: #bd5431;
  animation: some-animation 25s infinite;
}
body #barra2:hover {
  background: #ec3c02;
}
body #barra3 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 30px;
  position: relative;
  animation: some-animation 40s infinite;
  background: #b98f81;
}
body #barra3:hover {
  background: #cbaca2;
}
