//DECLARANDO VARIABLES
@color : #445533;
@width : 100px;
@height : 100px;

//CLASES
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius; //Firefox
  -webkit-border-radius: @radius; //Chrome
}

.barra{
    width: @width;
    height: @height;
    .border-radius(5px);
    box-shadow:2px 2px 5px #666;
    margin-bottom: 30px;    
    position: relative;
}

.mixi-frames () {
	from {left: 0px;}
	40% {left: 1024px;.border-radius(50px);.rotar(720deg);}
  55% {left: 600px;}
  to {left: 0px;}
}

.rotar(@rotacion : 360deg){
  transform : rotate(@rotacion);
	-moz-transform : rotate(@rotacion); // Firefox
	-webkit-transform : rotate(@rotacion); // Chrome
	-o-transform : rotate(@rotacion); // Opera
}

@-webkit-keyframes some-animation {.mixi-frames;}
@-moz-keyframes some-animation {.mixi-frames;}
@-ms-keyframes some-animation {.mixi-frames;}
@-o-keyframes some-animation {.mixi-frames;}
@keyframes some-animation {.mixi-frames;}


body{
  background: @color;  
  
  #barra1{
    .barra;
    animation: some-animation 20s infinite;
    background: darken(@color, 15%); 
    &:hover{background: darken(@color, 25%);}
  }
  
  #barra2{
    .barra;
    background: saturate(@color, 30%);  
    animation: some-animation 25s infinite;
    &:hover{background: saturate(@color, 70%);}
  }
  
  #barra3{
    .barra;
    animation: some-animation 40s infinite;
    background: lighten(@color, 15%); 
    &:hover{background: lighten(@color, 25%);}
  }
}
